* {
    margin: 0;
    font-family: "Inter", sans-serif;
}

/* Common styles */
.common-btn {
    background-color: #1d43d8;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 600;
}
.outline-btn {
    background-color: #ffffff;
    color: #1d43d8;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 600;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.speaker-up h1, .pricing-up h1{
    font-weight: 800;
    font-size: 3rem;
}

/* navbar section start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
}

.nav-middle ul {
    display: flex;
    gap: 24px;
    align-items: center;
}

.nav-middle li {
    list-style-type: none;
}

.nav-middle a {
    text-decoration: none;
    color: #575757;
}

/* Hero Section start */
.hero-section {
    background-image: url("../assets/banner.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    gap: 150px;
    align-items: center;
}

.hero-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.hero-up h1 {
    font-weight: 900;
    font-size: 3.5rem;
}

.hero-up p {
    padding: 10px 200px;
    text-align: justify;
}

.hero-down button {
    margin-top: 500px;
    padding: 20px 50px;
    font-weight: 400;
    font-size: 1.5rem;
    border-radius: 20px;
}
/* hero section end */

/* speaker section start */
.speaker-section{
    padding-bottom: 80px;
}
.speaker-up{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.speaker-down{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-template-rows: repeat(2, 1fr);
    padding-top: 20px;
}
.speaker{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 10px;
}
.speaker img{
    border-radius: 15px 15px 0px 0px;
}
.speaker small{
    color: #2563EB;
    text-transform: uppercase;
}
/* speaker section end */

/* pricing section start */
.pricing-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}


.pricing-down{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-bottom: 80px;
}
.price-card{
    border: 1px solid burlywood;
    border-radius: 15px;
    padding: 20px;
}
.price-card button{
    margin-left: 25px;
    padding: 10px 70px;
}
.price-card-2 {
    background-color: #0D1B2A;
    color: #ffffff;
}
#pro-id{
    color: #93C5FD;
}
.price-card h1{
    font-weight: 900;
    font-size: 2.5rem;
}
/* pricing section end */

/* footer section start */
footer{
    background-color: #0D1B2A;
    color: #ffffff;
    padding: 10px 0;
}
.footer-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
}